@model SearchEngine.Core.Models.SearchResult

    <div>
        <h4>SearchResult</h4>
        <hr />
        <div class="title d-inline">
            <h5>@Model.SearchTitle</h5>
            <h5>All matches: @Model.CountResult</h5>
        </div>
        @foreach (var m in Model.Results)
        {
            <div class="list-group">
                <div class="list-group-item ">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@m.SiteTitle</h5>
                        <small><a href="@m.ActionLink">@m.ActionLink</a></small>
                    </div>
                </div>
            </div>
        }        
    </div>
