@model Dictionary<string,string>

<form method="post" asp-controller="Configuration" asp-action="Save">
    @foreach(var pair in Model)
    {              
        <input type="text" hidden name="SectionName" value="@ViewBag.SectionName"/>
        <label for="@pair.Key">@pair.Key</label>
        <input type="text" class="form-control" name="@pair.Key" value="@pair.Value" />                
    }
    <input type="submit" class="btn btn-primary" value="Save"/>
</form>