@using SearchEngine.Core.Models

@model SearchResult
    <div class="resultItems">
        @if (Model == null) return;
        @if (@Model?.Error != null)
        {
            <div class="list-group">
                <div class="list-group-item-warning">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@Model.Error.Title</h5>
                        <small>@Model.Error.Description</small>
                    </div>
                </div>
            </div>
            return;
        }
        @foreach (var m in Model?.Results)
        {
            <div class="list-group">
                <div class="list-group-item ">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@m.SiteTitle</h5>
                        <small><a href="@m.ActionLink">@m.ActionLink</a></small>
                    </div>
                </div>
            </div>
        }
    </div>
