@page
@model SearchEngine.RazorPages.DbSearchModel
@{
    ViewData["Title"] = "DbSearch";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Search In DataBase</h1>
<hr />
<div class="filter">
    <form class="form-inline" method="post">
        <label>Search by word </label>
        <div class="form-group mx-sm-3 mb-2">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">                
                <select asp-items="@(new SelectList(Model.DropdownWords))" class="form-control" name="filterWord">
                    <option value="">Select one</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-primary mb-2" value="Apply" />
        <div class="form-group mx-sm-3 mb-2">
            <a asp-page="SearchDb">
                <input type="button" class="btn btn-outline-secondary" value="Clear" />
            </a>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Engine</th>
            <th>SearchWord</th>
            <th>Count</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Requests == null)
            return;
        @foreach (var m in Model.Requests)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Date</td>
                <td>@m.Engine</td>
                <td>@m.SearchWord</td>
                <td>@m.Result.ItemsCount</td>
                <td>@Html.ActionLink("Details", "Details", new { id = @m.Id }, new { @class = "linkDetails" })</td>
            </tr>
        }
    </tbody>
</table>

